@{
    ViewBag.Title = "Index";
}

<style>
    .fa {
        padding: 5px;
    }

    .btn {
        width: 100px;
    }

    .test {
        overflow-x: scroll;
    }
    /*#gbox_jqGrid01 {
        width: 100% !important;
    }
    #gview_jqGrid01 {
        width: 100% !important;
    }
    #jqGridPager01 {
        width: 100% !important;
    }*/
</style>
<link href="~/Content/JQGridReq/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/JQGridReq/styles/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Content/JQGridReq/jquery.jqGrid.min.js"></script>
<script src="~/Content/JQGridReq/grid.locale-en.js"></script>
<div class="">
    <div class="page-title">
        <div class="title_left">
            @*<h3>Plain Page</h3>*@
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Create ASSET </h2>
                    @if (TempData["sucsmsg"] != null)
                    {
                        <button type="submit" id="sucmsg" class="btn btn-success" onclick="new PNotify({
                                  title: 'Message',
                                  text: 'Data Saved successfully',
                                  type: 'success',
                                  styling: 'bootstrap3'
                                  });" style="visibility:hidden">
                            <i class=" fa fa-upload" aria-hidden="true">
                            </i>UPLOAD
                        </button>
                    }
                    @if (TempData["sucmsgupdate"] != null)
                    {
                        <button type="submit" id="sucmsgup" class="btn btn-success" onclick="new PNotify({
                                  title: 'Message',
                                  text: 'Data Updated successfully',
                                  type: 'success',
                                  styling: 'bootstrap3'
                                  });" style="visibility:hidden">
                            <i class=" fa fa-upload" aria-hidden="true">
                            </i>UPLOAD
                        </button>
                    }
                    @if (TempData["sucmsgdel"] != null)
                    {
                        <button type="submit" id="sucmsgdel" class="btn btn-success" onclick="new PNotify({
                                  title: 'Message',
                                  text: 'Data Deleted successfully',
                                  type: 'success',
                                  styling: 'bootstrap3'
                                  });" style="visibility:hidden">
                            <i class=" fa fa-upload" aria-hidden="true">
                            </i>UPLOAD
                        </button>
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="modal fade es-example-modal-md" id="delete-dialog" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">×</span>
                                        </button>

                                    </div>
                                    @using (Html.BeginForm("AssetDelete", "Asset", FormMethod.Post, new
{
    @class = "form-horizontal form-label-left",
    enctype = "multipart/form-data"
}))
                                    {
                                        <div class="modal-body">
                                            <input type="hidden" name="rowid4" id="rowid4">

                                            @*<form class="form-horizontal form-label-left">*@
                                            <div class="form-group">

                                                <label>Are You Sure to delete This Record?</label>

                                            </div>

                                            @*</form>*@

                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnNo" type="submit" class="btn btn-primary" data-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-success">Yes</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @*<div class="warnings" style="display: none;">
                                <p class="yellow_warn">Please check and select the row user to edit/remove </p>
                            </div>*@
                        <div class="alert warnings alert-warning alert-dismissable " style="display: none;">
                            <a href="#" class="close" aria-label="close">×</a>
                            Please check and select the row  to edit/remove
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <button type="submit" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-md"><i class="fa fa-plus" aria-hidden="true"></i>ADD</button>
                                <button id="btnupdtedep" type="submit" class="btn btn-primary act_edit"><i class="fa fa-edit "></i>EDIT</button>
                                <button id="BtnDelete" type="submit" class="btn btn-danger act_remv"><i class="fa fa-remove "></i>DELETE</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="test">
                                    <table id="jqGrid02"></table>
                                    <div id="jqGridPager02"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal edit_form fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">ASSET </h4>
                                </div>
                                @using (Html.BeginForm("AssetCreate", "Asset", FormMethod.Post, new
{
    @class = "form-horizontal form-label-left",
    enctype = "multipart/form-data"
}))
                                {
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <label style=" margin-top: 5px;">ASSET Type</label>
                                              
                                            </div>
                                            <div class="col-md-9 col-sm-6 col-xs-12">
                                                <select id="ASSETTYPE_ID" name="ASSETTYPE_ID" required="required" class="form-control"></select>                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <label style=" margin-top: 5px;">ASSET  Code</label>
                                            </div>
                                            <div class="col-md-9 col-sm-6 col-xs-12">
                                                <input type="text" id="ASSETCODE" name="ASSETCODE" required="required" class="form-control" placeholder="ASSET Code">
                                            </div>

                                        </div>
                                        @*<form class="form-horizontal form-label-left">*@
                                        <div class="form-group">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <label style=" margin-top: 5px;">ASSET  Name</label>
                                            </div>
                                            <div class="col-md-9 col-sm-6 col-xs-12">
                                                <input type="text" id="ASSET_NAME" name="ASSET_NAME" required="required" class="form-control" placeholder="ASSET NAME">
                                            </div>

                                        </div>

                                        @*</form>*@

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnClear" type="submit" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>Clear</button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="modal fade es-example-modal-md" id="editpopup" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">ASSET TYPE </h4>
                                </div>


                                @using (Html.BeginForm("AssetEdit", "Asset", FormMethod.Post, new
{
    @class = "form-horizontal form-label-left",
    enctype = "multipart/form-data"
}))
                                {
                                    <div class="modal-body">

                                        <input type="hidden" name="rowid3" id="rowid3">
                                        @*<form class="form-horizontal form-label-left">*@
                                        <div class="form-group">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <label style=" margin-top: 5px;">ASSET Type</label>

                                            </div>
                                            <div class="col-md-9 col-sm-6 col-xs-12">
                                                <select id="upASSETTYPE_ID" name="ASSETTYPE_ID" required="required" class="form-control"></select>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <label style=" margin-top: 5px;">ASSET  Code</label>
                                            </div>
                                            <div class="col-md-9 col-sm-6 col-xs-12">
                                                <input type="text" id="upASSETCODE" name="ASSETCODE" required="required" class="form-control" placeholder="ASSETTYPE NAME">
                                            </div>

                                        </div>
                                        @*<form class="form-horizontal form-label-left">*@
                                        <div class="form-group">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <label style=" margin-top: 5px;">ASSET  Name</label>
                                            </div>
                                            <div class="col-md-9 col-sm-6 col-xs-12">
                                                <input type="text" id="upASSET_NAME" name="ASSET_NAME" required="required" class="form-control" placeholder="ASSETTYPE NAME">
                                            </div>

                                        </div>

                                        @*</form>*@

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnupclear" type="submit" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>Clear</button>
                                        <button type="submit" id="btnUpdate" class="btn btn-success"><i class="fa fa-edit" aria-hidden="true"></i>Update</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#btnClear").click(function () {
            $('#ASSETCODE').val("");
            $('#ASSET_NAME').val("");
            $('#ASSETTYPE_ID').val(0);
            return false;
        });
        $("#btnupclear").click(function () {
            $('#upASSETCODE').val("");
            $('#upASSET_NAME').val("");
            $('#upASSETTYPE_ID').val(0);
            return false;
        });
        $("#btnNo").click(function () {
            $('#delete-dialog').modal("hide");
            return false;
        });
      
        $("#BtnDelete").click(function () {
            var grid = $("#jqGrid02");
            var rowKey = grid.getGridParam("selrow");

            if (!rowKey)
                new PNotify({
                    title: 'Warning',
                    text: 'Please select a row to Delete',

                    styling: 'bootstrap3'
                });
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                var index = selectedIDs + 1; // zero-based index of row so it means the 3rd row
                var rowId = jQuery('#jqGrid02 tr:eq(' + selectedIDs + ')').attr('id');
                //(here I suppose that the <table> element of your jqGrid has id="list"). After you know the id of the row you can get the row data with respect of getRowData method or the data from one cell only with respect of getCell method:
                var dataFromTheRow = jQuery('#jqGrid02').jqGrid('getRowData', rowId);
                var result = "";
                for (var i = 0; i < selectedIDs.length; i++) {
                    result += selectedIDs[0];
                }
                $("#rowid4").val(result);
                $("#delete-dialog").modal("show");
            }

        });
        $("#btnupdtedep").click(function () {
            var grid = $("#jqGrid02");
            var rowKey = grid.getGridParam("selrow");

            if (!rowKey)
                new PNotify({
                    title: 'Warning',
                    text: 'Please select a row to Update',

                    styling: 'bootstrap3'
                });
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                var index = selectedIDs + 1; // zero-based index of row so it means the 3rd row
                var rowId = jQuery('#jqGrid02 tr:eq(' + selectedIDs + ')').attr('id');
                //(here I suppose that the <table> element of your jqGrid has id="list"). After you know the id of the row you can get the row data with respect of getRowData method or the data from one cell only with respect of getCell method:
                var dataFromTheRow = jQuery('#jqGrid02').jqGrid('getRowData', rowId);
                var result = "";
                for (var i = 0; i < selectedIDs.length; i++) {
                    result += selectedIDs[0];
                }
                var PIP_DATE1 = grid.jqGrid('getCell', result, 'ASSETTYPE_ID');
                var PIP_DATE2 = grid.jqGrid('getCell', result, 'ASSETCODE');
                var PIP_DATE3 = grid.jqGrid('getCell', result, 'ASSET_NAME');
                //alert(PIP_DATE1);
               
                $('#upASSETCODE').val(PIP_DATE2);
                $('#upASSET_NAME').val(PIP_DATE3);
                $('#upASSETTYPE_ID').val(PIP_DATE1);
                //$("#edit_project_name").val(Project_Name1);
                $("#rowid3").val(result);
                $("#editpopup").modal("show");
            }

        });
    var mydata1 = [
          { id: "1", desgnation: "Department" }

    ];
    var lastSel;
    // Setup grid
    jQuery("#jqGrid02").jqGrid({
        url: " @Url.Action("Assetdtls", "Asset")",
        type: "GET",
        datatype: "Json",
        height: 350,
        colNames: ['Employee Code', 'asid', 'ASSET TYPE', 'ASSET CODE', 'ASSET NAME'],
        colModel: [
            { name: 'ID', index: 'ID', editable: true, key: true, sorttype: "int", search: true, hidden: true },
             { name: 'ASSETTYPE_ID', index: 'ASSETTYPE_ID', hidden: true },
              { name: 'ASSETTypeName', index: 'ASSETTypeName', editable: true, search: true },
            { name: 'ASSETCODE', index: 'ASSETCODE', editable: true, search: true },
            { name: 'ASSET_NAME', index: 'ASSET_NAME', editable: true, search: true }


        ],

        loadonce: true,
        viewrecords: true,
        width: 650,
        rowNum: 20,
        rowList: [20, 30, 50],

        rownumWidth: 25,
        multiselect: true,
        pager: "#jqGridPager02",

        jsonReader: {
            repeatitems: false,
            id: "Id",
            root: function (obj) { return obj; },
            page: function (obj) { return 1; },
            total: function (obj) { return 1; },
            records: function (obj) { return obj.length; }
        },
        onSelectRow: function (rowId, status, e) {
            if (rowId == lastSel) {
                $(this).jqGrid("resetSelection");
                lastSel = undefined;
                status = false;
            } else {
                lastSel = rowId;
            }
        },
        beforeSelectRow: function (rowId, e) {
            $(this).jqGrid("resetSelection");
            return true;
        }
    });
    $("#cb_jqGrid02").hide();
    // Setup buttons

    // Setup filters
    //jQuery("#jqGrid01").jqGrid('filterToolbar', { defaultSearch: true, stringResult: true });
    jQuery("#jqGrid02").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
    $.ajax({
     @*@Url.Action("Action","Controller")*@
        url: " @Url.Action("Assettypedtls", "Asset")",
        type: "GET",
        datatype: "Json",
        success:
    function (result) {
        $('#ASSETTYPE_ID').empty();
        $('#ASSETTYPE_ID').append($('<option></option>').val(0).html("SELECT Asset Type"));
        $('#upASSETTYPE_ID').empty();
        $('#upASSETTYPE_ID').append($('<option></option>').val(0).html("SELECT Asset Type"));
        $.each(result, function (i) {
            $('#ASSETTYPE_ID').append($('<option></option>').val(result[i].ID).html(result[i].ASSETTYPE_NAME));
        });
        $.each(result, function (j) {
            $('#upASSETTYPE_ID').append($('<option></option>').val(result[j].ID).html(result[j].ASSETTYPE_NAME));
        });
    }
    });
    $("#sucmsg").click();
    $("#sucmsgup").click();
    $("#sucmsgdel").click();
    });
</script>



