
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<!-- saved from url=(0056)http://altair_html.tzdthemes.com/page_user_profile.html# -->
<html lang="en" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths uk-notouch gr__altair_html_tzdthemes_com wf-sourcecodepro-n4-active wf-sourcecodepro-n7-active wf-roboto-n4-active wf-roboto-n3-active wf-roboto-n5-active wf-roboto-n7-active wf-roboto-i4-active wf-active">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/png" href="http://altair_html.tzdthemes.com/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://altair_html.tzdthemes.com/assets/img/favicon-32x32.png" sizes="32x32">
    <title>Altair Admin v2.9.0</title>

    <!-- uikit -->
    <link rel="stylesheet" href="../Altair Admin v2.9.0_files/uikit.almost-flat.min.css" media="all">


    <!-- altair admin -->
    <link rel="stylesheet" href="../Altair Admin v2.9.0_files/main.min.css" media="all">
    <!-- themes -->
    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <link rel="stylesheet" href="assets/css/ie.css" media="all">
    <![endif]-->
    <link rel="stylesheet" href="../Altair Admin v2.9.0_files/css" media="all">
</head>
<body class=" sidebar_main_open sidebar_main_swipe" data-gr-c-s-loaded="true">
    <!-- main header -->
    <!-- main header end -->
    <!-- main sidebar -->



    <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="" id="user_profile">
                <div class="uk-width-large-10-10 uk-row-first" style="min-height: 1644px;">
                    <div class="md-card">
                        <div class="user_heading">
                            <div class="user_heading_menu hidden-print">
                                <div class="uk-display-inline-block" data-uk-dropdown="{pos:&#39;left-top&#39;}" aria-haspopup="true" aria-expanded="false">
                                    <i class="md-icon material-icons md-icon-light"></i>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-left" aria-hidden="true" tabindex="" style="min-width: 160px; top: 0px; left: -160px;">
                                        <ul class="uk-nav">
                                            <li><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Action 1</a></li>
                                            <li><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Action 2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="uk-display-inline-block"><i class="md-icon md-icon-light material-icons" id="page_print"></i></div>
                            </div>
                            <div class="user_heading_avatar">
                                <div class="thumbnail">
                                    <img src="../Altair Admin v2.9.0_files/avatar_11.png" alt="user avatar">
                                </div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom"><span class="uk-text-truncate">Crystel Robel</span><span class="sub-heading">Land acquisition specialist</span></h2>
                                <ul class="user_stats">
                                    <li>
                                        <h4 class="heading_a">2391 <span class="sub-heading">Posts</span></h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_a">120 <span class="sub-heading">Photos</span></h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_a">284 <span class="sub-heading">Following</span></h4>
                                    </li>
                                </ul>
                            </div>
                            <a class="md-fab md-fab-small md-fab-accent hidden-print" href="http://altair_html.tzdthemes.com/page_user_edit.html">
                                <i class="material-icons"></i>
                            </a>
                        </div>
                        <div class="user_content">
                            <div class="uk-sticky-placeholder" style="height: 45px; margin: 0px;">
                                <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:&#39;#user_profile_tabs_content&#39;, animation:&#39;slide-horizontal&#39;}">
                                    <li class="uk-active" aria-expanded="true"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">About</a></li>
                                    <li aria-expanded="false"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Photos</a></li>
                                    <li aria-expanded="false"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Posts</a></li>
                                    <li class="uk-tab-responsive uk-active uk-hidden" aria-haspopup="true" aria-expanded="false"><a>About</a><div class="uk-dropdown uk-dropdown-small" aria-hidden="true"><ul class="uk-nav uk-nav-dropdown"></ul><div></div></div></li>
                                </ul>
                            </div>
                            <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                                <li aria-hidden="false" class="uk-active">
                                    Non illo quia beatae ratione impedit sunt libero ut aliquam ipsam minus laborum quidem id perferendis magnam quasi reiciendis occaecati placeat inventore dolores maiores porro ipsa qui doloremque porro corrupti quo aut quia ipsam quaerat ut dolorum in et ratione est autem debitis vitae neque et quos est vero reiciendis voluptatem in qui harum autem optio aut dolorum hic est id quis quisquam et odio dolorum fugit reprehenderit odit deserunt illum est sit consequatur porro quo vel officia aut repellendus ad doloribus iste est nesciunt in rem debitis facere praesentium deserunt sunt quia dolores ut optio qui.                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin="">
                                        <div class="uk-width-large-1-2 uk-row-first">
                                            <h4 class="heading_c uk-margin-small-bottom">Contact Info</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">alysa35@muellerbechtelar.com</span>
                                                        <span class="uk-text-small uk-text-muted">Email</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">1-121-438-8768</span>
                                                        <span class="uk-text-small uk-text-muted">Phone</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">facebook.com/envato</span>
                                                        <span class="uk-text-small uk-text-muted">Facebook</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">twitter.com/envato</span>
                                                        <span class="uk-text-small uk-text-muted">Twitter</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">My groups</h4>
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Cloud Computing</a></span>
                                                        <span class="uk-text-small uk-text-muted">34 Members</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Account Manager Group</a></span>
                                                        <span class="uk-text-small uk-text-muted">281 Members</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Digital Marketing</a></span>
                                                        <span class="uk-text-small uk-text-muted">33 Members</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">HR Professionals Association - Human Resources</a></span>
                                                        <span class="uk-text-small uk-text-muted">24 Members</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h4 class="heading_c uk-margin-bottom">Timeline</h4>
                                    <div class="timeline">
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_success"><i class="material-icons"></i></div>
                                            <div class="timeline_date">
                                                09 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">Created ticket <a href="http://altair_html.tzdthemes.com/page_user_profile.html#"><strong>#3289</strong></a></div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_danger"><i class="material-icons"></i></div>
                                            <div class="timeline_date">
                                                15 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">Deleted post <a href="http://altair_html.tzdthemes.com/page_user_profile.html#"><strong>Quo ut quasi aperiam est odit doloribus amet.</strong></a></div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon"><i class="material-icons"></i></div>
                                            <div class="timeline_date">
                                                19 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">
                                                Added photo
                                                <div class="timeline_content_addon">
                                                    <img src="../Altair Admin v2.9.0_files/Image16.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_primary"><i class="material-icons"></i></div>
                                            <div class="timeline_date">
                                                21 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">
                                                New comment on post <a href="http://altair_html.tzdthemes.com/page_user_profile.html#"><strong>Suscipit assumenda minima perferendis.</strong></a>
                                                <div class="timeline_content_addon">
                                                    <blockquote>
                                                        Ut laudantium animi at eligendi sequi est assumenda in doloremque qui harum asperiores asperiores consectetur quia a temporibus necessitatibus amet deleniti aut eum.…
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_warning"><i class="material-icons"></i></div>
                                            <div class="timeline_date">
                                                29 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">
                                                Added to Friends
                                                <div class="timeline_content_addon">
                                                    <ul class="md-list md-list-addon">
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <img class="md-user-image md-list-addon-avatar" src="../Altair Admin v2.9.0_files/avatar_02_tn.png" alt="">
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">Mikayla Hammes</span>
                                                                <span class="uk-text-small uk-text-muted">Rerum ea quia et rerum.</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li aria-hidden="true">
                                    <div id="user_profile_gallery" data-uk-check-display="" class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 4}" style="position: relative; margin-left: -4px; height: 0px;">
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image01.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image02.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image02.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image03.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image03.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image04.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image04.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image05.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image05.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image06.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image06.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image07.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image07.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image08.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image08.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image09.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image09.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image10.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image10.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image11.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image11.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image12.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image12.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image13.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image13.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image14.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image14.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image15.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image15.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image16.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image16.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image17.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image17.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image18.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image18.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image19.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image19.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image20.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image20.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image21.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image21.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image22.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image22.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image23.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image23.jpg" alt="">
                                            </a>
                                        </div>
                                        <div data-grid-prepared="true" style="position: absolute; box-sizing: border-box; padding-left: 4px; padding-bottom: 4px;">
                                            <a href="../Altair Admin v2.9.0_files/Image24.jpg" data-uk-lightbox="{group:&#39;user-photos&#39;}">
                                                <img src="../Altair Admin v2.9.0_files/Image24.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <ul class="uk-pagination uk-margin-large-top">
                                        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                        <li class="uk-active"><span>1</span></li>
                                        <li><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">2</a></li>
                                        <li><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">3</a></li>
                                        <li><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">4</a></li>
                                        <li><span>…</span></li>
                                        <li><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">20</a></li>
                                        <li><a href="http://altair_html.tzdthemes.com/page_user_profile.html#"><i class="uk-icon-angle-double-right"></i></a></li>
                                    </ul>
                                </li>
                                <li aria-hidden="true">
                                    <ul class="md-list">
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Minus animi ab esse dolore porro libero.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">23 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">28</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">875</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Eligendi modi possimus qui ipsa.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">24 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">23</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">947</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Magni et ut dolores velit culpa et doloribus ut.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">15 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">13</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">909</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Neque dolor et non ut a.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">21 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">11</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">817</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Explicabo quisquam minus ipsum rem.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">11 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">21</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">776</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Rerum voluptatum et accusantium ut suscipit.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">12 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">19</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">842</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Et molestiae temporibus sit ipsam.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">19 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">28</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">665</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Optio quia ea distinctio sit.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">03 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">18</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">605</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Voluptas ducimus velit sint quod aut nobis.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">26 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">13</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">632</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Quia totam hic veniam dolorem voluptatem pariatur voluptates et.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">29 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">11</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">705</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Et sit voluptatem quis quam corporis quis.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">02 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">4</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">686</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Cum a reiciendis recusandae ipsam.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">26 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">27</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">497</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Quo cum culpa voluptas aut animi sit.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">25 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">13</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">906</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Voluptas labore eaque cupiditate odio.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">22 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">4</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">353</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Cum deserunt maxime iste qui earum dolor.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">16 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">14</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">1000</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Natus exercitationem nihil quisquam inventore iusto earum fuga officiis.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">09 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">25</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">706</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Nam cupiditate ad saepe autem.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">04 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">14</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">698</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Error ipsa iste distinctio qui.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">22 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">16</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">351</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Suscipit enim laudantium veritatis culpa ex itaque enim.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">09 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">12</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">737</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="http://altair_html.tzdthemes.com/page_user_profile.html#">Expedita inventore aut doloremque consequatur dolor.</a></span>
                                                <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">26 Oct 2016</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">12</span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons"></i> <span class="uk-text-muted uk-text-small">161</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- end md card -->
            </div>
        </div>
    </div>
    </div>

    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <!-- common functions -->
    <script src="../Altair Admin v2.9.0_files/common.min.js.download"></script>
    <!-- uikit functions -->
    <script src="../Altair Admin v2.9.0_files/uikit_custom.min.js.download"></script>
    <!-- altair common functions/helpers -->
    <script src="../Altair Admin v2.9.0_files/altair_admin_common.min.js.download"></script>

    <script>
        $(function () {
            if (isHighDensity()) {
                $.getScript("bower_components/dense/src/dense.js", function () {
                    // enable hires images
                    altair_helpers.retina_images();
                });
            }
            if (Modernizr.touch) {
                // fastClick (touch devices)
                FastClick.attach(document.body);
            }
        });
        $window.load(function () {
            // ie fixes
            altair_helpers.ie_fix();
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-65191727-1', 'auto');
        ga('send', 'pageview');
    </script>


    <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"><div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div></div>
</body>
</html>
