<script>
    $(document).ready(function () {
        $("body").removeClass("modal-open");
        $("body").removeAttr("style");
           var lastSel;
           jQuery("#jqGrid05").jqGrid({
            url:" @Url.Action("Assetdtls", "EmployeeDetails")",
            type: "GET",
            datatype: "Json",
            height: 222,
            width: 840,
            rowNum: 10,
            rowList: [10, 20, 30],
            colNames: ['Employee Code', 'ASSET NAME', 'ASSET CODE', 'ISSUED DATE', 'RETURNED DATE',  'ISSUED BY', 'RETURNED TO', 'ASSET STATUS'],
            colModel: [
                { name: 'ID', index: 'ID', editable: true, sorttype: "int",key:true, search: true, hidden: true },
                 { name: 'ASSET_NAME', index: 'ASSET_NAME', editable: true },
                { name: 'ASSET_CODE', index: 'ASSET_CODE', editable: true },
                { name: 'ISSUED_DATE', index: 'ISSUED_DATE', editable: true, formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
                 { name: 'RETURNED_DATE', index: 'RETURNED_DATE', editable: true, formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
                { name: 'ISSUEDBY', index: 'ISSUEDBY', editable: true },
                 { name: 'RETURNEDTO', index: 'RETURNEDTO', editable: true },
                 { name: 'ASSET_STATUS', index: 'ASSET_STATUS', editable: true }

            ],


            pager: "#jqGridPager05",
            viewrecords: true,
            multiselect: true,

            hidegrid: false,
            jsonReader: {
                repeatitems: false,
                id: "Id",
                root: function (obj) { return obj; },
                page: function (obj) { return 1; },
                total: function (obj) { return 1; },
                records: function (obj) { return obj.length; }
            },
            onSelectRow: function (rowId, status, e) {
                if (rowId == lastSel) {
                    $(this).jqGrid("resetSelection");
                    lastSel = undefined;
                    status = false;
                } else {
                    lastSel = rowId;
                }
            },
            beforeSelectRow: function (rowId, e) {
                $(this).jqGrid("resetSelection");
                return true;
            }
        });
        $("#cb_jqGrid05").hide();
        // Setup buttons

        // Setup filters
        //jQuery("#jqGrid01").jqGrid('filterToolbar', { defaultSearch: true, stringResult: true });
        jQuery("#jqGrid05").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        
        $("#btnAssetclear").click(function () {
            $('#txtAssetname').val("");
            $('#txtAssetcode').val("");
            $('#txtAssetissueddate').val("");
            $('#txtIssuedby').val("");
        });

        $("#btnAssetsave").click(function () {
            //var test = $('#fn').val();
            // alert(test);
            $('#assetpopup').modal("hide");
            HideModal();
            $.ajax({
                url: '@Url.Action("Assetcreate", "EmployeeDetails")',

                data: {
                    ASSET_CODE: $('#txtAssetname').val(),
                    ISSUEDDATE: $('#txtAssetissueddate').val(),
                    ISSUEDBY: $('#txtIssuedby').val(),
                },
                //Passes the content of an input up
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#empasset').html(data);
                    new PNotify({
                        title: 'Message',
                        text: 'Data Saved successfully',
                        type: "success",
                        styling: 'bootstrap3'
                    });
                }
            });
        });
        $("#btnAssetedit").click(function () {
        var grid = $("#jqGrid05");
        var rowKey = grid.getGridParam("selrow");

        if (!rowKey)
            new PNotify({
                title: 'Warning',
                text: 'Please select a ITEM  to Return',

                styling: 'bootstrap3'
            });
        else {
            var selectedIDs = grid.getGridParam("selarrrow");
            var index = selectedIDs + 1; // zero-based index of row so it means the 3rd row
            var rowId = jQuery('#jqGrid05 tr:eq(' + selectedIDs + ')').attr('id');
            //(here I suppose that the <table> element of your jqGrid has id="list"). After you know the id of the row you can get the row data with respect of getRowData method or the data from one cell only with respect of getCell method:
            var dataFromTheRow = jQuery('#jqGrid05').jqGrid('getRowData', rowId);
            //alert(dataFromTheRow.hirarchy_id);
            // var dataFromCellByColumnIndex = jQuery('#jqGrid').jqGrid('getCell', rowId, 7);
            // var dataFromCellByColumnName = jQuery('#jqGrid').jqGrid('getCell', rowId, 'Tax');
            var result = "";
            for (var i = 0; i < selectedIDs.length; i++) {
                result += selectedIDs[0];
            }
            //ASSET_NAME: $('#txtupAssetname').val(),

            //ASSET_CODE: $('#txtupAssetcode').val(),
            //ISSUED_DATE: $('#txtupAssetissueddate').val(),
            //RETURNED_DATE: $('#txtupAssetreturneddate').val(),
            //ISSUEDBY: $('#txtupIssuedby').val(),
            //RETURNEDTO: $('#txtupReturnto').val(),
            //ASSET_STATUS: $('#txtupAssetstatus').val(),
            var ASSET_NAME1 = grid.jqGrid('getCell', result, 'ASSET_NAME');
            var ASSET_CODE1 = grid.jqGrid('getCell', result, 'ASSET_CODE');
            var ISSUED_DATE1 = grid.jqGrid('getCell', result, 'ISSUED_DATE');
            var RETURNED_DATE1 = grid.jqGrid('getCell', result, 'RETURNED_DATE');
            var ISSUEDBY1 = grid.jqGrid('getCell', result, 'ISSUEDBY');
            var RETURNEDTO1 = grid.jqGrid('getCell', result, 'RETURNEDTO');
            var ASSET_STATUS1 = grid.jqGrid('getCell', result, 'ASSET_STATUS');
            $('#txtupAssetname').val(ASSET_NAME1);
            $('#txtupAssetcode').val(ASSET_CODE1);
            //$('#txtupAssetissueddate').val(ISSUED_DATE1);
            $('#txtupAssetreturneddate').val(RETURNED_DATE1);
            //$('#txtupIssuedby').val(ISSUEDBY1);
            $('#txtupReturnto').val(RETURNEDTO1);
            $('#txtupAssetstatus').val(ASSET_STATUS1);
            //$("#edit_project_name").val(Project_Name1);
            $("#rowid2").val(result);
            $("#asseteditpopup").modal("show");
            //$("#employmentuppopup").show();

        }

    });
    function HideModal() {
        $('.modal-backdrop').remove();
        //location.reload();
    } 
    $("#btnAssetupclear").click(function () {
        $('#txtupAssetreturneddate').val("");
        $('#txtupReturnto').val("");
        $('#txtupAssetstatus').val("");
    });
    $.ajax({
@*@Url.Action("Action","Controller")*@
        url: " @Url.Action("Assettypedtls", "Asset")",
        type: "GET",
        datatype: "Json",
        success:
    function (result) {
        $('#ASSETTYPE_ID').empty();
        $('#ASSETTYPE_ID').append($('<option></option>').val(0).html("SELECT Asset Type"));
        $('#txtAssetname').empty();
        $('#txtAssetname').append($('<option></option>').val(0).html("SELECT Asset Name"));
        $.each(result, function (i) {
            $('#ASSETTYPE_ID').append($('<option></option>').val(result[i].ID).html(result[i].ASSETTYPE_NAME));
        });
    }
    });
$('#ASSETTYPE_ID').on('change', function () {
    var assettypeid = $('#ASSETTYPE_ID').val();
    $.ajax({

        url: " @Url.Action("Assetname", "Assetissue")/" + assettypeid,
        type: "GET",
    datatype: "Json",
    success:
    function (result) {
        $('#txtAssetname').empty();
        $('#txtAssetname').append($('<option></option>').val("").html("SELECT Asset Name"));
        $.each(result, function (i) {
            $('#txtAssetname').append($('<option></option>').val(result[i].ID).html(result[i].ASSET_NAME));
            //$('#dropdownDivUpdate').append($('<option></option>').val(result[i].id).html(result[i].Levelname));

        });
                
    }
});
});
    $("#btnAssetupdate").click(function () {
        //var test = $('#fn').val();
        // alert(test);
        $('#asseteditpopup').modal("hide");
        HideModal();
        var ID1 = $("#rowid2").val();
        $.ajax({
            url: '/EmployeeDetails/Assetedit/' + ID1,

            data: {
                RETURNEDDATE: $('#txtupAssetreturneddate').val(),
                RETURNEDTO: $('#txtupReturnto').val(),
                ASSET_STATUS: $('#txtupAssetstatus').val(),
            },
            //Passes the content of an input up
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#empasset').html(data);
                new PNotify({
                    title: 'Message',
                    text: 'Data Updated successfully',
                    type: "success",
                    styling: 'bootstrap3'
                });
            }
        });
    });
    });
    $(function () {
        $('#datetimepicker26').datepicker(
              {
                  autoclose: true,
                  format: 'dd/mm/yyyy',
              });

    });


    $(function () {
        $('#datetimepicker29').datepicker(
              {
                  autoclose: true,
                  format: 'dd/mm/yyyy',
              });

    });
</script>
            <div class="form-group">
                <div class="col-md-6 col-sm-8 col-xs-12 ">
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target=".ks-example-modal-md"><i class="fa fa-plus" aria-hidden="true"></i>ASSET ISSUE</button>
                    <button id="btnAssetedit" type="submit" class="btn btn-success" ><i class="fa fa-edit "></i>ASSET RETURN</button>
                   
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <table id="jqGrid05"></table>
                    <div id="jqGridPager05"></div>
                </div>
            </div>

            @*<button type="submit" class="btn btn-success" data-toggle="modal" data-target=".ks-example-modal-md"><i class="fa fa-plus" aria-hidden="true"></i>ADD</button>*@
            <div class="modal fade ks-example-modal-md" tabindex="-1" id="assetpopup" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Asset Details</h4>
                        </div>
                        @*@using (Html.BeginForm("create", "Home", FormMethod.Post, new
{
    @class = "form-horizontal form-label-left",
    enctype = "multipart/form-data"
}))
                        {*@
                        <div class="form-horizontal form-label-left">
                            <div class="modal-body">

                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Type</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        @*<input type="text" id="txtAssetname" name="txtAssetname" class="form-control" placeholder="Asset Name">*@
                                        <select id="ASSETTYPE_ID" name="ASSETTYPE_ID" class="form-control"></select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Name</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        @*<input type="text" id="txtAssetname" name="txtAssetname" class="form-control" placeholder="Asset Name">*@
                                        <select class="form-control" id="txtAssetname" name="txtAssetname"></select>
                                    </div>

                                </div>

                                @*<div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Name</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtAssetname" name="txtAssetname" class="form-control" placeholder="Asset Name">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Code</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtAssetcode" name="txtAssetcode" class="form-control" placeholder="Employee Name">
                                    </div>

                                </div>*@
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Issued Date:</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <div class='input-group date' id='datetimepicker26'>
                                            <input type='text' id="txtAssetissueddate" name="txtAssetissueddate" class="form-control dp" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Return Date</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <div class='input-group date' id='datetimepicker27'>
                                            <input type='text' id="txtAssetreturneddate" name="txtAssetreturneddate" class="form-control dp" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                </div>*@
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Issued By</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtIssuedby" name="txtIssuedby" class="form-control" placeholder="Issued by">
                                    </div>

                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Return To</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtReturnto" name="txtReturnto" class="form-control" placeholder="Return to">
                                    </div>

                                </div>*@
                                @*<div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Status On Return</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtAssetstatus" name="txtAssetstatus" class="form-control" placeholder="Asset Status On Return">
                                    </div>

                                </div>*@
                                @*</form>*@

                            </div>
                            <div class="modal-footer">
                                <button id="btnAssetclear" type="submit" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>Clear</button>
                                <button id="btnAssetsave" type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                            </div>
                        </div>
                        @*}*@
                    </div>
                </div>
            </div>
            <div class="modal fade eks-example-modal-md" tabindex="-1" role="dialog" id="asseteditpopup" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Asset Details</h4>
                        </div>
                        @*@using (Html.BeginForm("create", "Home", FormMethod.Post, new
{
    @class = "form-horizontal form-label-left",
    enctype = "multipart/form-data"
}))
                        {*@
                        <div class="form-horizontal form-label-left">
                            <div class="modal-body">



                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Name</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtupAssetname" name="txtupAssetname" readonly="readonly" class="form-control" placeholder="Asset Name">
                                        <input type="hidden" name="rowid2" id="rowid2">
                                    </div>

                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Code</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtupAssetcode" name="txtupAssetcode" class="form-control" placeholder="Employee Name">
                                    </div>

                                </div>*@
                                @*<div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Issued Date:</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <div class='input-group date' id='datetimepicker28'>
                                            <input type='text' id="txtupAssetissueddate" name="txtupAssetissueddate" class="form-control dp" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                </div>*@
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Return Date</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <div class='input-group date' id='datetimepicker29'>
                                            <input type='text' id="txtupAssetreturneddate" name="txtupAssetreturneddate" class="form-control dp" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Issued By</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtupIssuedby" name="txtupIssuedby" class="form-control" placeholder="Issued by">
                                    </div>

                                </div>*@
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Return To</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtupReturnto" name="txtupReturnto" class="form-control" placeholder="Return to">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label style=" margin-top: 5px;">Asset Status On Return</label>
                                    </div>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" id="txtupAssetstatus" name="txtupAssetstatus" class="form-control" placeholder="Asset Status On Return">
                                    </div>

                                </div>
                                @*</form>*@

                            </div>
                            <div class="modal-footer">
                                <button id="btnAssetupclear" type="submit" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>Clear</button>
                                <button id="btnAssetupdate" type="submit" class="btn btn-success"><i class="fa fa-edit" aria-hidden="true"></i>Update</button>
                            </div>
                        </div>
                            @*}*@
                        </div>
                </div>
            </div>
       

